// .container {
//    position: relative;
//    max-width: 1440px;
//    height: calc(100vh - 80px);
//    margin: auto;
//    padding: 50px;
//    top: 80px;
//    display: grid;
//    place-items: center;

//    .todo {
//       width: 450px;
//       height: 500px;
//       background-color: #fff;
//       border-radius: 20px;
//       box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
//          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
//       border: 1px solid hsla(0, 0%, 7%, 0.179);

//       .nav {
//          display: flex;
//          align-items: center;
//          gap: 10px;
//          padding: 20px;

//          input {
//             width: 100%;
//             height: 45px;
//             border-radius: 10px 0 0 10px;
//             padding: 0 10px;
//             outline-color: #006aff;
//             border: 1px solid hsla(0, 0%, 7%, 0.179);
//             font-size: 18px;
//          }

//          button {
//             width: 100px;
//             height: 45px;
//             border-radius: 0 10px 10px 0;
//             border: 0;
//             background-color: #006aff;
//             color: #fff;
//             text-transform: uppercase;
//             cursor: pointer;
//             font-size: 20px;
//          }
//       }

//       main {
//          height: 373px;
//          // height: 100%;
//          padding: 20px;
//          overflow-y: auto;
//          gap: 5px;
//          margin-top: 20px;
//          padding-top: 20px;
//          border-top: 1px solid hsla(0, 0%, 7%, 0.179);
//       }
//    }
// }



.container {
   position: relative;
   max-width: 1440px;
   margin: auto;
   padding: 50px;
   top: 80px;

   .wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px;
      justify-content: center;
   }
}

@media(max-width: 767px) {
   .container {
      padding: 25px;
   }
}

@media(max-width: 700px) {
   .container {
      .wrapper {
         grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      }
   }
}

@media(max-width: 540px) {
   .container {
      .wrapper {
         grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
         gap: 5px;
      }
   }
}


@media(max-width: 500px) {
   .container {
      padding: 16px;

   }
}

@media(max-width: 400px) {
   .container {
      .wrapper {
         grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
      }
   }
}