.navbarWrapper {
   position: fixed;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
   height: 80px;
   user-select: none;
   z-index: 9999;
   background-color: #fff;
   border-bottom: 1px solid rgba(17, 17, 17, 0.179);
   box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

   .navbar {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 100px;
      height: 100%;
      max-width: 1440px;
      margin: auto;
      background-color: #fff;

      .left {
         display: flex;
         align-items: center;
         gap: 20px;

         .logo {
            position: relative;
            font-size: 32px;
            font-weight: 600;
            cursor: pointer;

            span {
               position: absolute;
               font-size: 12px;
               padding: 2px 8px;
               background-color: rgba(0, 106, 255, 1);
               color: #fff;
               border-radius: 20px;
            }
         }

         .back {
            border: 1px solid rgba(17, 17, 17, 0.179);
            width: 45px;
            height: 35px;
            font-size: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
            border-radius: 7px;
            cursor: pointer;
            transition: all 0.1s;

            &:hover {
               border: 1px solid rgba(0, 106, 255, 1);

            }

            &:active {
               box-shadow: none;
            }
         }

      }


      .center,
      .centerShow {
         position: relative;
         display: flex;
         gap: 40px;
         align-items: center;
         z-index: 99;
         background-color: #fff;

         .search {
            position: relative;
            height: 45px;
            width: 400px;
            border: 1px solid rgba(17, 17, 17, 0.179);
            border-radius: 20px;
            font-size: 18px;
            padding: 0 15px;
            outline-color: rgba(0, 106, 255, 1);
         }


         .cancel {
            font-size: 25px;
            font-weight: 500;
            color: #000;
            cursor: pointer;
            display: none;
         }
      }

      .centerNone {
         display: flex;
      }

      .right {
         display: flex;
         align-items: center;
         gap: 20px;

         .searchIcon {
            display: none;
         }

         .favorite {
            position: relative;
            font-size: 28px;
            cursor: pointer;
            color: #000;

            span {
               position: absolute;
               top: 4px;
               right: -5px;
               font-size: 12px;
               font-weight: bold;
               width: fit-content;
               height: 12px;
               width: 12px;
               border-radius: 20px;
               background-color: rgba(0, 106, 255, 1);
               display: flex;
               justify-content: center;
               align-items: center;
               color: #fff;
            }
         }

         .profile {
            position: relative;
            display: grid;
            place-items: center;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 20px;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: #eee;
            border: 1px solid rgba(17, 17, 17, 0.179);
            cursor: pointer;

            .dropdown {
               width: fit-content;
               height: fit-content;
               background-color: #fff;
               border-radius: 20px;
               position: absolute;
               top: 50px;
               right: 0px;
               box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
                  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
               border: 1px solid rgba(17, 17, 17, 0.179);
               display: flex;
               flex-direction: column;
               display: none;
               overflow: hidden;
               z-index: 999999999;

               .item {
                  width: max-content;
                  font-size: 12px;
                  text-transform: none;
                  height: 45px;
                  background-color: #f1f1f1;
                  background-color: #fff;
                  display: flex;
                  font-size: 16px;
                  align-items: center;
                  padding: 0 30px;
                  transition: all 0.1s;

                  &:hover {
                     background-color: #dfdfdf;
                     background-color: #f1f1f1;
                  }

               }

               .email {
                  font-size: 12px;
                  text-transform: none;
                  padding: 10px 0;
                  margin: auto;
                  cursor: auto
               }

               .hr {
                  background-color: rgba(17, 17, 17, 0.179);
                  height: 1px;
                  border-radius: 10px;
               }
            }

            .dropdown.active {
               display: flex;
            }
         }
      }

   }

}

@media(max-width:992px) {
   .navbarWrapper {
      .navbar {
         padding: 0 40px;

         .center {
            gap: 20px;

            .search {
               width: 300px;
            }
         }
      }
   }
}

@media(max-width:767px) {
   .navbarWrapper {
      .navbar {
         padding: 0 20px;

         .center {
            gap: 20px;

            .search {
               width: 250px;
            }

            .cancel {
               font-size: 22px;
               font-weight: 500;
            }
         }
      }
   }
}

@media(max-width: 650px) {
   .navbarWrapper {
      height: 50px;
      border-bottom: 0;

      .navbar {
         z-index: 99999;
         box-shadow: none;

         .logo {
            position: relative;
            font-size: 22px;
            font-weight: 600;
            cursor: pointer;

            span {
               position: absolute;
               font-size: 8px;
               padding: 2px 8px;
               background-color: rgba(0, 106, 255, 1);
               color: #fff;
               border-radius: 20px;
            }
         }

         .center,
         .centerShow {
            z-index: 1;
            gap: 15px;
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            height: 35px;
            padding: 0 16px;
            background-color: #fff;
            justify-content: center;
            border-bottom: 1px solid rgba(17, 17, 17, 0.179);
            box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
            display: flex;

            .search {
               width: 100%;
               height: 90%;
               border-radius: 10px;
            }

            .cancel {
               font-size: 16px;
               display: flex;
            }
         }

         .centerShow {
            background-color: red;
            display: flex;
            display: none;
         }

         .right {
            .favorite {
               font-size: 24px;
            }

            .searchIcon {
               position: relative;
               display: grid;
               place-items: center;
               text-transform: uppercase;
               font-weight: 600;
               font-size: 18px;
               width: 35px;
               height: 35px;
               border-radius: 50%;
               cursor: pointer;
            }

            .profile {
               font-size: 16px;
               width: 35px;
               height: 35px;
            }
         }
      }
   }
}

@media(max-width: 500px) {
   .navbarWrapper {
      .navbar {
         .left {
            .back {
               width: 40px;
               height: 30px;
               font-size: 20px;
            }

            .logo {
               font-size: 28px;

               span {
                  font-size: 9px;
                  padding: 1px 6px;
                  border-radius: 20px;
                  margin-top: 5px;
                  margin-left: -2px;
               }
            }
         }

         .center {
            .search {
               padding: 0 5px;
            }
         }

         .right {
            gap: 12px;

            .favorite {
               font-size: 20px;

               span {
                  top: 3px;
                  right: -3px;
                  height: 9px;
                  width: 9px;
               }
            }

            .profile {
               .dropdown {
                  top: 40px;
                  padding: 0 5px;

                  .item {
                     height: 40px;
                     font-size: 14px;
                     padding: 0 16px;
                  }

                  .email {
                     font-size: 12px;
                     padding: 10px 20px;
                  }

               }
            }
         }

      }
   }
}